body {
  background-color: #fafaf2;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--page-info);
  text-align: center;
}

:root {
  --viz5-decor: #771c31;
  --page-info: #2a1c77;
}

#s2 {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal-width columns (1fr is a fractional unit) */
  grid-gap: 20px;
}

#s3 {
  background-color: rgb(154, 118, 212);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: absolute;
  background: #222;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  pointer-events: none;
  border-radius: 4px;
}

#s1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.label {
  fill: var(--viz5-decor);
  stroke: var(--viz5-decor);
  font-family: Arial, sans-serif;
}

footer {
  width: 80%;
  margin: 40px auto 0;
  text-align: center;
  overflow: auto;
}

footer div {
  float: left;
  width: 45%;
  margin: 0 2.5%;
}
