body {
  background-color: #fafaf2;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--page-info);
  text-align: center;
}

:root {
  --viz3-decor: #ebcd21;
  --viz4-decor: #084594;
  --viz5-decor: #771c31;
  --page-info: #33771c;
}

#s1,
#viz5 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: var(--viz5-decor);
  stroke: var(--viz5-decor);
}

#s2 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#s2-left {
  color: var(--viz3-decor);
}

#viz4,
#s2-right {
  color: var(--viz4-decor);
}

#s3 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: absolute;
  background: #222;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  pointer-events: none;
  border-radius: 4px;
}

footer {
  width: 80%;
  margin: 40px auto 0;
  text-align: center;
  overflow: auto;
}

footer div {
  float: left;
  width: 45%;
  margin: 0 2.5%;
}
