body {
  background-color: #fafaf2;
}

:root {
  --viz5-decor: #771c31;
}

#s2 {
  background-color: rgb(237, 137, 229);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal-width columns (1fr is a fractional unit) */
  grid-gap: 20px;
}

#s3 {
  background-color: rgb(154, 118, 212);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#s4 {
  background-color: rgb(84, 143, 225);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#s1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* #viz5 {
  width: 40%;
  margin: 0 auto;
} */

.label {
  fill: var(--viz5-decor);
  stroke: var(--viz5-decor);
  font-family: Arial, sans-serif;
}
