#s1 {
  background-color: rgb(210, 238, 99);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#s2 {
  background-color: rgb(237, 137, 229);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal-width columns (1fr is a fractional unit) */
  grid-gap: 20px;
}

#s3 {
  background-color: rgb(154, 118, 212);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#s4 {
  background-color: rgb(84, 143, 225);
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
